*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.page {
  padding: 133px 30px; /*под вопросом, добавила самостоятельно*/
}

.content {
  display: grid;

  grid-template-columns: 711px 399px;
  justify-content: center;
  align-items: end;
  gap: 30px;
  width: 1140px;
}

.result {
  display: flex;
  flex-direction: column;
}

.title {
  margin-bottom: 20px;
}

.content-details {
  width: 100%;
  height: 100%;
}

.search-form {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
}

.content__list-container {
  height: 298px;
  overflow-y: scroll;
}

.result__video-container {
  display: block;
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 30px;
}

.content__video-card {
  display: flex;
  justify-content: start;
  align-items: start;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-position: center;
  object-fit: cover;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.search-form__fieldset-title {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  margin-bottom: 5px;
}

.title {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
  color: #fff;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  color: #fff;
  text-decoration: none;
}

.content__video-card-title {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 6px;
  width: 196px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content__video-card-description {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 90%;
  line-clamp: 1;
  text-overflow: ellipsis;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset:first-of-type {
  width: 225px;
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.search-form__label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: fit-content;
  gap: 5px;
}

.search-form__textfield {
  background-color: transparent;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  width: 225px;
  appearance: none;
}

.search-form__textfield::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:hover {
  outline: none;
}

.search-form__textfield:focus-visible {
  outline: 1px solid #fff;
}

.search-form__pseudo-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  inset: 0;
}

.search-form__label:has(:checked) .search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background: #fff;
}

.search-form__label:has(.search-form__pseudo-checkbox):hover {
  text-decoration: underline;
  text-underline-offset: 2px;
  cursor: pointer;
}

.search-form__label:has(.search-form__pseudo-checkbox):focus {
  text-decoration: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
}

.button {
  background-color: transparent;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: #fff;
  border: 1px solid #fff;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
}

.button:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
  cursor: pointer;
}

.button:active {
  text-decoration: none;
  outline: none;
  background-color: #545050;
}

.search-form__submit-button {
  justify-self: end;
  align-self: end;
  width: 194px;
  height: 34px;
}

.more-button {
  width: 100%;
  height: 34px;
}

.content__list-item {
  padding: 3px;
}

.content__list-item:focus {
  outline: none;
}

.content__list-item:focus-visible {
  outline: 1px solid #fff;
  border-radius: 0%;
}

.content__list-item:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
  cursor: pointer;
}

.content__list-item:active {
  text-decoration: none;
  background-color: #545050;
}

.content__list-item_current {
  background-color: #545050;
}

.result__video-container {
  position: relative;
}

.content__list-container {
  position: relative;
}
